:root {
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --primary-color: #6c63ff;
    --secondary-color: #F9F7FE;
    --main-dark-color: #272142;
}

body {
    font-family: var(--default-font-family)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-dark-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-color);
    transition: all 100ms ease-in-out;
}


/* ________________________HOME PAGE__________________________ */

h1 {
    font-size: 96px;
    margin: 20px 0;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px 60px;
}

.hero p {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: 300;
    font-size: 24px;
    color: var(--main-dark-color);
    line-height: 2;
    margin-top: 24px;
}

.hero a {
    background: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 30px;
}

.subtitle {
    font-size: 20px;
    margin: 100px 0 40px;
}

.navbar-items {
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: 16px;
    justify-content: end;
}

.bgc-navbar {
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgba(108, 99, 255, 0.2);
    padding: 8px 48px;
}

.logo {
    width: 250px;
}

h2 {
    font-size: 64px;
    margin-bottom: 48px;
}

p {
    color: var(--main-dark-color);
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.btn-branding-outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 15px 30px;
}

.project-description {
    padding: 120px 60px;
}

.footer {
    margin-top: 48px;
    background-color: #fff;
}

.footer p {
    color: var(--main-dark-color);
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.2;
}

.footer a {
    text-decoration: none;
    color: var(--main-dark-color);
}

.footer a:hover,
.footer a:focus {
    color: var(--primary-color);
}


/* ________________________ABOUT ME PAGE__________________________ */

.main-section {
    padding: 160px 20px 120px;
    align-items: center;
}

.main-hero {
    text-align: right;
}

.main-descr {
    text-align: center;
}

.main-section h1 {
    font-size: 64px;
    line-height: 80px;
    margin: 0;
}

.main-section h2 {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 18px;
    color: var(--main-dark-color);
    line-height: 2;
    margin: 28px auto;
}

.main-section p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

.main-section a {
    background: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 30px;
    margin-top: 50px;
}

.bgc-nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(108, 99, 255, 0.2);
    padding: 8px 48px;
}

.profile-photo {
    height: 540px;
    border-radius: 6px;
}

.inquiry-section {
    align-items: center;
    text-align: right;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 30px 60px;
}

.inquiry-descr {
    text-align: left;
}

.inquiry-descr h3 {
    font-size: 48px;
    font-weight: bold;
}

.inquiry-section a {
    background: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 30px;
}

.contacts {
    text-align: center;
    margin: 120px auto 0;
}

.icons {
    margin-top: 20px;
}

.icons a {
    text-decoration: none;
}

.icon {
    width: 50px;
}

.icon:not(:last-child) {
    margin-right: 15px;
}


/* ________________________PROJECTS PAGE__________________________ */

.main-descr h1 {
    margin-bottom: 60px;
}

.content h3,
.content p {
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}

.content p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: var(--main-dark-color);
}

.app-image1,
.app-image2 {
    border-radius: 20px;
}

/* @media (min-width:1120px) {
    .app-image1 {
        max-width: 616px;
        max-height: 420px;
    }

    .app-image2 {
        max-width: 616px;
        max-height: 680px;
    }
} */


/* ________________________CERTIFICATES PAGE__________________________ */

.strong {
    font-weight: 700;
}

.certificates {
    font-size: 50px;
    font-weight: 700;
}

.certificates-title {
    font-size: 78px;
}

.certificates-subtitle {
    font-size: 56px;
}


/* ________________________CONTACT PAGE__________________________ */

.contact-title {
    padding: 160px 20px 60px;
}

.contact-title h1 {
    text-align: center;
    margin-bottom: 0;
}

ul.contact-box {
    list-style: none;
    margin-top: 50px;
    padding: 0;
}

.contact-box p {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-dark-color);
}

a.contact-link {
    text-decoration: none;
    color: var(--main-dark-color);
    background-color: transparent;
    opacity: 0.8;
    font-size: 16px;
    transition: all 100ms ease-in-out;
    padding: 0;
}

a.contact-link:hover,
a.contact-link:focus {
    color: var(--primary-color);
}

p.link-title {
    color: rgba(108, 99, 255, 0.8);
    padding: 0;
}



@media (max-width:767.999px) {
    .homepage-img {
        margin-bottom: 25px;
    }

    .homepage-btn {
        margin-top: 15px;
    }
}

@media (max-width:1120px) {

    .logo {
        width: 200px;
    }

    .project-description,
    .main-descr {
        padding: 0;
        text-align: center;
    }

    .subtitle {
        margin: 50px auto;
        padding: 0;
    }

    .inquiry-section {
        padding: 20px 10px;
        text-align: center;
    }

    .inquiry-descr {
        text-align: center;
    }

    .inquiry-descr h3 {
        font-size: 32px;
    }

    .hero,
    .main-section {
        padding: 120px 10px 40px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h2 {
        font-size: 18px;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-section h1 {
        font-size: 58px;
        line-height: 70px;
        margin: 0;
    }

    .bgc-navbar,
    .bgc-nav {
        padding: 8px 18px;
    }

    .main-descr h1 {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 30px;
    }

    .content h3 {
        font-size: 18px;
    }

    .content p {
        font-size: 12px;
    }

    .contact-title {
        padding: 120px 20px 10px;
    }

    .contact-title h1 {
        font-size: 32px;
    }

    .button a {
        font-size: 14px;
        margin-top: 16px;
        padding: 10px 20px;
    }

    .footer {
        margin-top: 18px;
    }
}